*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  

}

body{
    padding: 10px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /* background-color: rgb(69, 69, 99); */
    background: var(--ce);
    background: radial-gradient(circle farthest-corner at left center, var(--ce) 45%, var(--dce) 40%, var(--dce) 70%, var(--ce) 70%, var(--ce) 100%);
    background-repeat: no-repeat;
    background-size: cover;

    --ce:#475AFF;
    --dce:#1900FF;
    --whit: antiquewhite;
    --blac:black;
    --b:rgb(105, 105, 148);
    --b1:rgb(168, 179, 131);
    --b2:#57575c;
}

header{
    display: grid;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 50px;
    place-items: center;
}

.themeSwitch{
    position: absolute;
    right: 30px;
    display: grid;
    grid-template-columns: 30px 30px 30px 30px;
    width: 120px;
    place-items: center;

}

.sunIcon{
    width: 20px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: yellow;
}

.switchButton{
    grid-column: 2/4;
    width: 60px;
    height: 25px;
    background-color: blueviolet;
    border-radius: 20px;
    padding: 0px 3px;

    display: grid;
    align-items: center;
}

.whiteBall{
    width: 20px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: white;
    
}

.moonIcon{
    width: 20px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: yellow;
}

.progressCont{
    height: 10px;
    width: 90svw;
    background-color: var(--whit);
    border-radius: 30px;
    padding: 0 1px;
    margin-top: 20px;

    display: grid;
    align-items: center;
}
.progressBar{
    height: 8px;
    width: 0svw;
    background-color: var(--blac);
    border-radius: 30px;
}


main{
    display: grid;
    width: 100px;
    grid-template-rows: 40% 60%;
}

.intro{
    color: var(--whit);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 40px;
}
.intro p{
    margin:20px 0px;
    font-size: calc(1.3rem);
}

.quizSelect {
    margin-top: 10px;
    display: grid;
    justify-content: center;
}

.quizSelect button{
    all: unset;
    height: 40px;
    width: 80svw;
    padding: 10px;
    border-radius: 20px;
    background-color: var(--b);
    color: var(--whit);
    margin-bottom: 20px;

}

.quizSelect button:hover{
    background-color: var(--b1);
    color: var(--blac);
    font-weight: 700;
}
.quizSelect button:active{
    height: 40px;
    width: 80svw;
    padding: 10px;
    border-radius: 20px;
    background-color: var(--b2);
    color: var(--whit);

}

